<center><img src="/static/localbeats.png"  position = "bottom" width="200;" height="200;" padding="auto" margin="auto" onclick="window.location.href='/'"align="bottom"></center>

<body bgcolor="#C79B71">

<style>
h1 {color:#E3DBCC;text-align:center;font-size:35px;font-family:Tahoma;}
h2 {color:#31C3E9;text-align:center;font-size:25px;font-family:Tahoma;}
h3 {color:#082026;text-align:center;font-size:23px;font-family:Tahoma;}
h4 {color:#082026;text-align:center;font-size:18px;font-family:Tahoma;}
p {color:#082026;text-align:center;font-size:15px;font-family:Tahoma;}
</style>


{% block content %}
  <div style="text-align:center;">

  <h1>Lets get to know each other!</h1>
  <form method="POST" action="http://localhost:5000/welcome">

      {{ form.hidden_tag() }}
      {% for message in get_flashed_messages() %}
      {{ message }}
      {% endfor %}
      <p>{{ form.name.label }}{{ form.name() }}</p>
      <p>{{ form.soundcloud.label }}{{ form.soundcloud() }}</p>
      <p>{{ form.zipcode.label }}{{ form.zipcode() }}</p>

      {{ form.submit() }}

  </form>
{% endblock %}

