<!DOCTYPE html> 
<html lang="en">
<head>
  <title>Local Beats</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Yantramanav" rel="stylesheet">

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  
</head>

<body>
<header>
<a href="#" class="open">&equiv;</a>
<a href="#cl" class="close hidden">&times;</a>

<nav>
  <br>
  <a href="/" ><img src="../static/localbeats.png" width="70%" height="70%" alt="logo" ></a>
<br>
  <a href="/map">Map</a>
  <a href="#search">Search</a>
  <a href="#adduser">Add User</a>
  <a href="#about">About</a>
  <p>
    Local Beats > &copy; 2018
  </p>
  <hr />
  @JP Roeser
</nav>




<!-- <img src="/static/localbeats.png"  position = "bottom" width="100%" height="200;" padding="auto" margin="auto" onclick="window.location.href='/'"align="bottom"></center>
 -->

</header>
<span id="edit-img"><div id="toplogo"> <img src="../static/localbeats.png" width="40%" height="40%" alt="logo" top-margin="20px;"></div></span>
<!-- {% for field, errors in form.errors.items() %}
<div class="alert alert-error">
    {{ form[field].label }}: {{ ', '.join(errors) }}

{% endfor %}
 -->

<form method="POST">
<div class="center">
  {{ form.hidden_tag() }}
  {% if form.soundcloud.errors %}
      {% for error in form.soundcloud.errors %}
        {{ error }}
      {% endfor %}
  {% endif %}
  {{ form.soundcloud.label }}{{ form.soundcloud() }}
  {% if form.zipcode.errors %}
      {% for error in form.zipcode.errors %}
        {{ error }}
      {% endfor %}
  {% endif %}
  {{ form.zipcode.label }}{{ form.zipcode() }}
<br><br>

  {{ form.submit() }}
</div>
</form>
  




<script type="text/javascript">
    
  $('.open').on('click',function(e){
    e.preventDefault();
    $(this).addClass('hidden');
    $('.close').removeClass('hidden');
    $('nav').addClass('slide');
  });

  $('.close').on('click',function(e){
    e.preventDefault();
    $(this).addClass('hidden');
    $('.open').removeClass('hidden');
    $('nav').removeClass('slide');
  });

  $("nav a").click(function() {
    
    var s = $(this).attr('href');
      $('html,body').animate({scrollTop: $(s).offset().top}, 200, "swing");
    return false;
    });

  </script>

<script source= https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js></script>



</body>
</html>
