<!DOCTYPE html> 
<html lang="en">
<head>
  <title>Local Beats</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Yantramanav" rel="stylesheet">

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  
</head>







<center><img src="/static/localbeats.png"  position = "bottom" width="200;" height="200;" padding="auto" margin="auto" onclick="window.location.href='/'"align="bottom"></center>




<h3>Thank you for adding {{ sc_username }}!</h3>


<button class="button button1" onclick="window.location.href='/'" style="float: left;margin-right:auto;margin-left:38%;display:block;margin-top:0px;margin-bottom:0%;" >Home</button></h4>

<button class="button button1" onclick="window.location.href='/myaccount/{{ sc_username }}'" style="float: right;margin-left:auto;margin-right:38%;display:block;margin-top:0px;margin-bottom:0%; " >Explore </button></h4>
<br><br>

<div style="text-align:center;">





  
<h1>Add another SoundCloud user!</h1>
<!-- <div>
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}

{% if form.errors %}
    {{ form.errors }}
{% endif %}
</div>
 -->
<form method="POST">

      {{ form.hidden_tag() }}
      {% if form.soundcloud.errors %}
          {% for error in form.soundcloud.errors %}
            {{ error }}
          {% endfor %}
      {% endif %}
      <p>{{ form.soundcloud.label }}{{ form.soundcloud() }}</p>
      {% if form.zipcode.errors %}
          {% for error in form.zipcode.errors %}
            {{ error }}
          {% endfor %}
      {% endif %}      
      <p>{{ form.zipcode.label }}{{ form.zipcode() }}</p>

      {{ form.submit() }}

</form>

