<!DOCTYPE html> 
<html lang="en">
<head>
  <title>Local Beats</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Yantramanav" rel="stylesheet">

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  
</head>

<body>

<header>
  <a href="#" class="open">&equiv;</a>
  <a href="#cl" class="close hidden">&times;</a>

  <nav>
      <br>
      <a href="/#home" ><img src="../static/localbeats.png" id="menu_logo" alt="logo" ></a>
      <br>
      <a href="/#map">Map</a>
      <a href="/#search">Search</a>
      <a href="/adduser">Add User</a>
    <!--   <a href="#about">About</a>
     -->   
     <br><br><br>
     <hr/>
     <p> Local Beats &copy; 2018 </p>

  </nav>


</header>
<div id="toplogo"> <img src="../static/localbeats.png" onClick="window.location.href='/'" style= "min-width: 25%; max-width: 35%; min-height:25%; max-height: 35%; " alt="logo" ></div>


<!-- <span id="edit-img"><div id="toplogo"> <img src="../static/localbeats.png" onClick="window.location.href='/'" width="30%" height="30%" alt="logo" top-margin="20px;"></div></span> -->

<!-- {% for field, errors in form.errors.items() %}
<div class="alert alert-error">
    {{ form[field].label }}: {{ ', '.join(errors) }}

{% endfor %}
 -->
<br>
<form method="POST">
<div class="center">
  {{ form.hidden_tag() }}

  <h4>{{ form.soundcloud.label }}</h4>
  {% if form.soundcloud.errors %}
      {% for error in form.soundcloud.errors %}
        <h2>{{ error }}</h2>        
      {% endfor %}
  {% endif %}

  {{ form.soundcloud() }}


  <h4>{{ form.zipcode.label }}</h4>

  {% if form.zipcode.errors %}
      {% for error in form.zipcode.errors %}
        <h2>{{ error }}</h2>
      {% endfor %}
  {% endif %}
  {{ form.zipcode() }}
<!-- 
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %} -->


<br>

  {{ form.submit() }}
</div>
</form>
  




<script> 

  $('.open').on('click',function(e){
    e.preventDefault();
    $(this).addClass('hidden');
    $('.close').removeClass('hidden');
    $('nav').addClass('slide');
  });

  $('.close').on('click',function(e){
    e.preventDefault();
    $(this).addClass('hidden');
    $('.open').removeClass('hidden');
    $('nav').removeClass('slide');
  });

  $("nav a").click(function() {
    
    var s = $(this).attr('href');
      $('html,body').animate({scrollTop: $(s).offset().top}, 200, "swing");
    return false;
    });

</script>

<script src= https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js></script>



</body>
</html>
