<!DOCTYPE html>


<html>

<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<title>Local Beats</title>
</head>


<body>

  <header>
    <ul>
      <li>Question 1</li>
      <li>Question 2</li>
      <li>Question 3</li>
      <li>Question 4</li>
      <li>Question 5</li>
      <li>Question 6</li>
    </ul>
  </header>
    <img src="/static/localbeats.png" class="center" width="200" height="200" onclick="window.location.href='/'" alt="logo">



  <div>
  {% for message in get_flashed_messages() %}
    <h3>{{ message }}</h3>
  {% endfor %}
  </div>

  <h1 class="center">Connect with your local SoundCloud community</h1>

  <div id="map"></div>
  <script>

    function initMap() {

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: {lat: 39.0902, lng: -95.7129}
      });

      // Create an array of alphabetical characters used to label the markers.
      // var labels = {{ alllabels }};
      // Add some markers to the map.
      // Note: The code uses the JavaScript Array.prototype.map() method to
      // create an array of markers based on a given "locations" array.
      // The map() method here has nothing to do with the Google Maps API.
      var markers = locations.map(function(location, i) {
        return new google.maps.Marker({
          position: location, label: ('')
          
        });
      });

      // Add a marker clusterer to manage the markers.
      var markerCluster = new MarkerClusterer(map, markers,
          {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
    }
    var locations = {{ x }}
  </script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArkbAZwyZAAeObAb8mRNZ8Kc8zXpr1Doc&callback=initMap">
  </script>


<!-- 
https://developers.google.com/chart/interactive/docs/gallery/map#customizing-markers

 -->
<!-- https://developers.google.com/maps/documentation/javascript/marker-clustering
 -->

<h3>Search for SoundCloud users near you</h3>



<form method="POST">
<div style="text-align:center;">
  {{ form.hidden_tag() }}
  {% if form.searchzip.errors %}
      {% for error in form.searchzip.errors %}
        {{ error }}
      {% endfor %}
  {% endif %}
  <p>{{ form.searchzip.label }}{{ form.searchzip() }}</p>
  {% if form.searchradius.errors %}
      {% for error in form.searchradius.errors %}
        {{ error }}
      {% endfor %}
  {% endif %}
  <p>{{ form.searchradius.label }}{{ form.searchradius() }}</p>


  {{ form.submit() }}
</div>
</form>


<br><br><br>
{% if current_user.is_authenticated %}
<!--     <button onclick="{{ url_for('logout') }}" >Sign Out {{current_user.username}}</a> -->
    <button class="button button1" onclick="window.location.href='/logout'" style="float: left;margin-right:auto;margin-left:40%;display:block;margin-top:0px;margin-bottom:0%;" >Log Out</button>
{% else %}
    <button class="button button1" onclick="window.location.href='/login'" style="float: left;margin-right:auto;margin-left:40%;display:block;margin-top:0px;margin-bottom:0%;" >Sign In</button>
{% endif %}

<button class="button button1" onclick="window.location.href='/adduser'" style="float: right;margin-left:auto;margin-right:40%;display:block;margin-top:0px;margin-bottom:0%; " >Add SC User</button>
<br><br><br><br><br><br>

</body>
</html>

