<!DOCTYPE html> 
<html lang="en">
<head>
  <title>Local Beats</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Yantramanav" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>


<body>

<header>
<a href="#" class="open">&equiv;</a>
<a href="#cl" class="close hidden">&times;</a>

<nav>
  <br>
  <a href="/" ><img src="../static/localbeats.png" width="90%" height="90%" alt="logo" ></a>
<br>
  <a href="#map">Map</a>
  <a href="#search">Search</a>
  <a href="/adduser">Add User</a>
<!--   <a href="#about">About</a>
 -->   
 <br><br><br><hr/>
 <p> Local Beats &copy; 2018 </p>

</nav>



  </header>


<!-- //////////////////////////////////HOME////////////////////////////////////////////// -->



<section id = "home"><div class="section home">

  <br><br><br>

<!--   <div id="toplogo_main"></div> -->

<div id="toplogo"> <img src="../static/localbeats.png" onClick="window.location.href='/'" width="30%" height="30%" alt="logo" top-margin="20px;"></div>

<!--   <div>
  {% for message in get_flashed_messages() %}
    <h3>{{ message }}</h3>
  {% endfor %}
  </div>
 -->
  <h1>Connect with your local SoundCloud community</h1>
  <h2>Search through a database of SoundCloud users to explore your local creative community. Discover new artists, find new sounds, and connect with local talent!</h2>


<div id = "home_buttons">
<button class="button button1" onClick="document.getElementById('search').scrollIntoView({behavior: 'smooth'}); "  >Search For Users</button>
<button class="button button1" onclick="window.location.href='/adduser'"  >Add Users</button>
</div>

</div>


</section>



<!-- //////////////////////////////////MAP////////////////////////////////////////////// -->
<!-- 
 <div id="map"> </div>
    
 -->
<!--  <div class="section map"> -->
    

  <section id="map"><div class="section map"></div>
  <script>

    function initMap() {

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: {lat: 39.0902, lng: -95.7129}
      });

      // Create an array of alphabetical characters used to label the markers.
      // var labels = {{ alllabels }};
      // Add some markers to the map.
      // Note: The code uses the JavaScript Array.prototype.map() method to
      // create an array of markers based on a given "locations" array.
      // The map() method here has nothing to do with the Google Maps API.
      var markers = locations.map(function(location, i) {
        return new google.maps.Marker({
          position: location, label: ('')
          
        });
      });

      // Add a marker clusterer to manage the markers.
      var markerCluster = new MarkerClusterer(map, markers,
          {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
    }
    var locations = {{ x }}
  </script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArkbAZwyZAAeObAb8mRNZ8Kc8zXpr1Doc&callback=initMap">
  </script>


<!-- 
https://developers.google.com/chart/interactive/docs/gallery/map#customizing-markers

 -->
<!-- https://developers.google.com/maps/documentation/javascript/marker-clustering
 -->

<!--     </div>

 -->




<!-- //////////////////////////////////SEARCH////////////////////////////////////////////// -->

<!--     <div id ="search"> </div>
 -->    
</section>

<section id="search"> <!-- <div id ="search" class="section search"></div> -->

<h1>Search for SoundCloud users near you</h1>



<form method="POST">
<div id=search_form>
  {{ form.hidden_tag() }}


  <h4>{{ form.searchzip.label }}</h4>

  {% if form.searchzip.errors %}
      {% for error in form.searchzip.errors %}
        <h2>{{ error }}</h2>
      {% endfor %}
  {% endif %}

  {{ form.searchzip() }}

  {{ form.searchradius.label }}

  {% if form.searchradius.errors %}
      {% for error in form.searchradius.errors %}
       <h2>{{ error }}</h2>
      {% endfor %}
  {% endif %}

  {{ form.searchradius() }}<br><br>


  {{ form.submit() }}
</div>
</form>


</section>


<!-- <br><br><br>
{% if current_user.is_authenticated %}
    <button onclick="{{ url_for('logout') }}" >Sign Out {{current_user.username}}</a>
    <button class="button button1" onclick="window.location.href='/logout'" style="float: left;margin-right:auto;margin-left:40%;display:block;margin-top:0px;margin-bottom:0%;" >Log Out</button>
{% else %}
    <button class="button button1" onclick="window.location.href='/login'" style="float: left;margin-right:auto;margin-left:40%;display:block;margin-top:0px;margin-bottom:0%;" >Sign In</button>
{% endif %} -->


<!-- //////////////////////////////////ADD USER////////////////////////////////////////////// -->

<!--     <section id = "adduser"><div id ="adduser"> </div>
    <div class="section adduser">
   -->


<!-- <button class="button button1" onclick="window.location.href='/adduser'"  >Add SC User</button>
 -->


<!--   </div>

</div>
 -->


  <footer class="footer">
    <hr/>
    <p>This site was created by James Roeser &copy; 2018</p>
  </footer>

<!-- </container> -->


<!-- <script source= https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js></script>

<script source= https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js></script>

<script source= https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.js></script>
 -->

<script>
  
$('.open').on('click',function(e){
  e.preventDefault();
  $(this).addClass('hidden');
  $('.close').removeClass('hidden');
  $('nav').addClass('slide');
});

$('.close').on('click',function(e){
  e.preventDefault();
  $(this).addClass('hidden');
  $('.open').removeClass('hidden');
  $('nav').removeClass('slide');
});

$("nav a").click(function() {
  
  var s = $(this).attr('href');
    $('html,body').animate({scrollTop: $(s).offset().top}, 200, "swing");
  return false;
  });

</script>

<script src= https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js></script>



</body>
</html>

