<center><img src="/static/localbeats.png"  position = "bottom" width="200;" height="200;" padding="auto" margin="auto" onclick="window.location.href='/'"align="bottom"></center>

<body bgcolor="#C79B71">

<style>
h1 {color:#FFF2E3;text-align:center;font-size:35px;font-family:Tahoma;}
h2 {color:#31C3E9;text-align:center;font-size:25px;font-family:Tahoma;}
h3 {color:#082026;text-align:center;font-size:23px;font-family:Tahoma;}
h4 {color:#13343C;text-align:center;font-size:18px;font-family:Tahoma;}
p {color:#13343C;text-align:center;font-size:15px;font-family:Tahoma;}
</style>


{% if current_user.is_authenticated %}
    <a href="{{ url_for('logout') }}">Sign Out {{current_user.username}}</a>
{% else %}
    <a href="{{ url_for('login') }}">Sign In</a>
{% endif %}

<div class="page-header">
    <h1>{% if num_gifs %}{{ num_gifs }}{% else %}0{% endif %} GIFs saved. </h1>
    <p><a href="{{ url_for('see_all') }}">See all GIFs.</a></p>
</div>

<form method="POST">
	{{ form.hidden_tag() }}
	{{ form.search.label }} {{ form.search() }}
	{{ form.submit() }}
</form>

<div>
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}
</div>
