<!DOCTYPE html> 
<html lang="en">
<head>
  <title>Local Beats</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Yantramanav" rel="stylesheet">

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  
</head>

<body>
<header>
<a href="#" class="open">&equiv;</a>
<a href="#cl" class="close hidden">&times;</a>

<nav>
  <br>
  <a href="/" ><img src="../static/localbeats.png" width="70%" height="70%" alt="logo" ></a>
<br>
  <a href="/#map">Map</a>
  <a href="/#search"  >Search</a>

  <a href="#adduser">Add User</a>
  <a href="#about">About</a>
  <p>
    Local Beats > &copy; 2018
  </p>
  <hr />
  @JP Roeser
</nav>



<button onclick="goBack()" style="text-align:center;">Go Back</button>
<button onclick="window.location.href='/'" style="text-align:center;">Go Home</button>


<script>
function goBack() {
    window.history.back();
}
</script>

<h3>The zipcode you entered was {{ searchzip }}! </h3>
<h3>The radius you entered was {{ searchradius }}! </h3>
<h3>The city you searched was {{ city }}! </h3>
<h3>The zips in your radius are: {{ allzips }}! </h3>

<h4>Here are all the public songs on your profile </h3>

<p id="demo" onclick="myFunction()">Click me to change my text color.</p>


<ul>
    {% for r in songlinks %}
		<iframe width="400" height="400" scrolling="no" frameborder="yes"
		src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ r }}&amp;show_artwork=true&amp;visual=true&amp;show_comments=true&amp;hide_related=true&amp;show_user=true">
		</iframe>
    {% endfor %}
</ul>


