<center><img src="/static/localbeats.png"  position = "bottom" width="200;" height="200;" padding="auto" margin="auto" onclick="window.location.href='/'"align="bottom"></center>

<body bgcolor="#C79B71">

<style>
h1 {color:#E3DBCC;text-align:center;font-size:35px;font-family:Tahoma;}
h2 {color:#31C3E9;text-align:center;font-size:25px;font-family:Tahoma;}
h3 {color:#082026;text-align:center;font-size:23px;font-family:Tahoma;}
h4 {color:#13343C;text-align:center;font-size:18px;font-family:Tahoma;}
p {color:#13343C;text-align:center;font-size:15px;font-family:Tahoma;}
</style>

<div align="center">

<div style="text-align:center;">


<h3>The zipcode you entered was {{ searchzip }}! </h3>
<h3>The radius you entered was {{ searchradius }}! </h3>
<h3>The city you searched was {{ city }}! </h3>
<h3>The zips in your radius are: {{ allzips }}! </h3>



<button onclick="goBack()" style="text-align:center;">Go Back</button>
<button onclick="window.location.href='/'" style="text-align:center;">Go Home</button>

<script>
function goBack() {
    window.history.back();
}
</script>