<!DOCTYPE html> 
<html lang="en">
<head>
  <title>Local Beats</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
<!--   <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/responsive.css') }}">
  
 -->
</head>








<body>

  <header>
    <nav id = "top-nav" class="top-nav">
<!--       <div class="logo">
      <a href="index.html" class="logo"><img src="../static/localbeats.png" width="200" height="200" onclick="window.location.href='/'" alt="logo" class="center"></a>
          </div> -->
         <ul class>
              <li><a class="current-page" href="index.html">HOME</a></li>
              <li><a href="#">Topic One</a></li>

              <li><a href="index.html" ><img src="../static/localbeats.png" width="200" height="200" onclick="window.location.href='/'" alt="logo" class="center"></a></li>

              <li><a href="#">Topic Two</a></li>
              <li><a href="images.html">Images</a></li>
          </ul>   
      </nav>
  </header>







<!--   <div>
  {% for message in get_flashed_messages() %}
    <h3>{{ message }}</h3>
  {% endfor %}
  </div> -->

  <h1 class="center">Connect with your local SoundCloud community</h1><br>

  <div id="map"></div>
  <script>

    function initMap() {

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: {lat: 39.0902, lng: -95.7129}
      });

      // Create an array of alphabetical characters used to label the markers.
      // var labels = {{ alllabels }};
      // Add some markers to the map.
      // Note: The code uses the JavaScript Array.prototype.map() method to
      // create an array of markers based on a given "locations" array.
      // The map() method here has nothing to do with the Google Maps API.
      var markers = locations.map(function(location, i) {
        return new google.maps.Marker({
          position: location, label: ('')
          
        });
      });

      // Add a marker clusterer to manage the markers.
      var markerCluster = new MarkerClusterer(map, markers,
          {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
    }
    var locations = {{ x }}
  </script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArkbAZwyZAAeObAb8mRNZ8Kc8zXpr1Doc&callback=initMap">
  </script>


<!-- 
https://developers.google.com/chart/interactive/docs/gallery/map#customizing-markers

 -->
<!-- https://developers.google.com/maps/documentation/javascript/marker-clustering
 -->

<h1 class="center">Search for SoundCloud users near you</h1>
<br>


<!-- 
<form method="POST">
<div class=center>
  {{ form.hidden_tag() }}
  {% if form.searchzip.errors %}
      {% for error in form.searchzip.errors %}
        {{ error }}
      {% endfor %}
  {% endif %}
  <p>{{ form.searchzip.label }}{{ form.searchzip() }}</p>
  {% if form.searchradius.errors %}
      {% for error in form.searchradius.errors %}
        {{ error }}
      {% endfor %}
  {% endif %}
  <p>{{ form.searchradius.label }}{{ form.searchradius() }}</p>


  {{ form.submit() }}
</div>
</form>
 -->

<br><br><br>
{% if current_user.is_authenticated %}
<!--     <button onclick="{{ url_for('logout') }}" >Sign Out {{current_user.username}}</a> -->
    <button class="button button1" onclick="window.location.href='/logout'" style="float: left;margin-right:auto;margin-left:40%;display:block;margin-top:0px;margin-bottom:0%;" >Log Out</button>
{% else %}
    <button class="button button1" onclick="window.location.href='/login'" style="float: left;margin-right:auto;margin-left:40%;display:block;margin-top:0px;margin-bottom:0%;" >Sign In</button>
{% endif %}

<button class="button button1" onclick="window.location.href='/adduser'" style="float: right;margin-left:auto;margin-right:40%;display:block;margin-top:0px;margin-bottom:0%; " >Add SC User</button>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <footer class="footer">
    <p>This site was created by James Roeser &copy; 2018</p>
  </footer>
</body>
</html>

