
<!DOCTYPE html> 
<html lang="en">
<head>
  <title>Local Beats</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Yantramanav" rel="stylesheet">

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  
</head>

<body>
<header>
<a href="#" class="open">&equiv;</a>
<a href="#cl" class="close hidden">&times;</a>

<nav>
  <br>
  <a href="/" ><img src="../static/localbeats.png" width="90%" height="90%" alt="logo" ></a>
<br>
  <a href="/#map">Map</a>
  <a href="/#search"  >Search</a>

  <a href="#adduser">Add User</a>
<!--   <a href="#about">About</a>
 -->   <br><br><br><hr/>
 <p> Local Beats &copy; 2018 </p>
<!--   @JP Roeser -->
</nav>
</header>

<span id="edit-img"><div id="toplogo"> <img src="../static/localbeats.png" onClick="window.location.href='/'" width="30%" height="30%" alt="logo" top-margin="20px;"></div></span>






<div id=results_topbuttons>
<button class="button button7" onclick="goBack()" style="text-align:center;">Back</button>
<button class="button button7" onClick="window.location.href='/adduser'" style="text-align:center;">Add Users</button>
</div>

<div id=results_topcontent>

{% if lenusers == 0 %}
<h6> Sorry, no SoundCloud accounts from this area have been added to our database yet </h6>
<button class="button randomsong" onClick="window.location.href='/adduser'">Add Users</button>
{% else %}
<h3>We found {{ lenusers }} users in our database that are within {{ searchradius }} miles of {{ searchcity }}. </h3>
<h3><i>Here's a random song from all users in your search radius:</i></h3>
<button class="button randomsong" onClick="newSrc('all',{{ all_song_codes_in_radius }});">Random Song from All Users</button>
<br>
<script type="text/javascript">
    function newSrc(id, array) {
        var random = array[Math.floor(Math.random() * array.length)];
        var newSrc="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/"+random+"&amp;show_artwork=true&amp;visual=true&amp;show_comments=true&amp;hide_related=true&amp;show_user=true";
        var x = document.getElementById(id)
        x.src=newSrc;
    }
</script> 
<br>   
<iframe id="all" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ all_song_codes_in_radius[0] }}&amp;show_artwork=true&amp;visual=true&amp;show_comments=true&amp;hide_related=true&amp;show_user=true" width="400" height="400" scrolling="no" frameborder="yes" ></iframe>  
<br><br>
<br>
{% endif %}
</div>


<div id = user_results>

{% for u in all_user_dictionaries %}
    <div id=center>
    <hr/>
	<h5>{{ u.Username }}</h5>
	<h4>{{ u.Cities }}</h4>

	{% if u.Soundcloud %}
		<a href="{{u.Soundcloud}}"target="_blank"><img src="/static/soundcloud.png" alt="Soundcloud" width="50" height="50"/></a>
	{% endif %}
	{% if u.Facebook %}
		<a href="{{u.Facebook}}"target="_blank"><img src="/static/facebook.png" alt="Facebook" width="50" height="50"/></a>
	{% endif %}
	{% if u.Twitter %}
		<a href="{{u.Twitter}}"target="_blank"><img src="/static/twitter.png" alt="Twitter" width="50" height="50"/></a>	
    {% endif %}
	{% if u.Instagram %}
		<a href="{{u.Instagram}}"target="_blank"><img src="/static/instagram.png" alt="Instagram" width="50" height="50"/></a>	
    {% endif %}
    

    <br><button class="button randomsong" onClick="newSrc('{{ u.Username }}',{{ u.Songs }});"> Random Song from {{ u.Username }}</button>
    <script type="text/javascript">
        function newSrc(id, array) {
            var random = array[Math.floor(Math.random() * array.length)];
            var newSrc="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/"+random+"&amp;show_artwork=true&amp;visual=true&amp;show_comments=true&amp;hide_related=true&amp;show_user=true";
            var x = document.getElementById(id)
            x.src=newSrc;

        }

    </script> 
  
    <center><iframe class= "scsong" id="{{ u.Username }}" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ u.Songs[0] }}&amp;show_artwork=true&amp;visual=true&amp;show_comments=true&amp;hide_related=true&amp;show_user=true" width="400" height="400" scrolling="no" frameborder="yes" ></iframe>  </center>
    <br><br>
{% endfor %}
</div>
</div>

<!-- http://jsfiddle.net/z47XP/
 -->
<br><br>


<script>
function goBack() {
    window.history.back();
}
</script>



<element onclick="script">



<script type="text/javascript">
    
  $('.open').on('click',function(e){
    e.preventDefault();
    $(this).addClass('hidden');
    $('.close').removeClass('hidden');
    $('nav').addClass('slide');
  });

  $('.close').on('click',function(e){
    e.preventDefault();
    $(this).addClass('hidden');
    $('.open').removeClass('hidden');
    $('nav').removeClass('slide');
  });

  $("nav a").click(function() {
    
    var s = $(this).attr('href');
      $('html,body').animate({scrollTop: $(s).offset().top}, 200, "swing");
    return false;
    });

  </script>

<script source= https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js></script>



</body>
</html>

