<script>
function goBack() {
    window.history.back();
}
</script>

<style>
h1 {color:#FFF2E3;text-align:center;font-size:35px;font-family:Tahoma;}
h2 {color:#31C3E9;text-align:center;font-size:25px;font-family:Tahoma;}
h3 {color:#082026;text-align:center;font-size:23px;font-family:Tahoma;}
h4 {color:#13343C;text-align:center;font-size:18px;font-family:Tahoma;}
p {color:#13343C;text-align:center;font-size:15px;font-family:Tahoma;}
</style>

<element onclick="script">

<div align="center">

<div style="text-align:center;">




<center><img src="/static/localbeats.png"  position = "bottom" width="200;" height="200;" padding="auto" margin="auto" onclick="window.location.href='/'"align="bottom"></center>

<body bgcolor="#C79B71">







<button onclick="goBack()" style="text-align:center;">Go Back</button>
<button onclick="window.location.href='/'" style="text-align:center;">Go Home</button>




{% for u in all_user_dictionaries %}


	<h2>{{ u.Username }}</h2>
	<h3>{{ u.Cities }}</h3>
	{% if u.Soundcloud %}
		<a href="{{u.Soundcloud}}"target="_blank"><img src="/static/soundcloud.png" alt="Soundcloud"width="50" height="50"/></a>
	{% endif %}
	{% if u.Facebook %}
		<a href="{{u.Facebook}}"target="_blank"><img src="/static/facebook.png" alt="Facebook"width="50" height="50"/></a>
	{% endif %}
	{% if u.Twitter %}
		<a href="{{u.Twitter}}"target="_blank"><img src="/static/twitter.png" alt="Twitter"width="50" height="50"/></a>	
    {% endif %}
	{% if u.Instagram %}
		<a href="{{u.Instagram}}"target="_blank"alt="Instagram"><img src="/static/instagram.png" width="50" height="50"/></a>	
    {% endif %}
    

    <script type="text/javascript">
        function newSrc(id, array) {
            var random = array[Math.floor(Math.random() * array.length)];
            var newSrc="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/"+random+"&amp;show_artwork=true&amp;visual=true&amp;show_comments=true&amp;hide_related=true&amp;show_user=true";
            var x = document.getElementById(id)
            x.src=newSrc;

        }

    </script> 
    <br>   
    <iframe id="{{ u.Username }}" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ u.Songs[0] }}&amp;show_artwork=true&amp;visual=true&amp;show_comments=true&amp;hide_related=true&amp;show_user=true" width="400" height="400" scrolling="no" frameborder="yes" ></iframe>  
    <br><button onClick="newSrc('{{ u.Username }}',{{ u.Songs }});">Change Iframe Src</button>


{% endfor %}
<!-- http://jsfiddle.net/z47XP/
 -->

